@model ThriftBook_phase2.ViewModels.CartVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CartVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Go to Cart </a>
    <br/>
    @Html.ActionLink("Continue Shopping", "Home")
</div>


