@model IEnumerable<ThriftBook_phase2.ViewModels.OrderDetailVM>

@{
    ViewData["Title"] = "FinishShopping";
    string transactionTime = Model.FirstOrDefault().DateOfTransaction.ToString("dd/MMM/yyyy hh:mm");
    string amount = Model.FirstOrDefault().TotalPrice.ToString();
}

<h1>FinishShopping</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Thank you for your purchase</h1>
<br/>
<h3>Time of Purchase @transactionTime</h3>
<h3>Your total $@amount</h3>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
        </tr>
}
    </tbody>
</table>
