@model IEnumerable<ThriftBook_phase2.ViewModels.OrderDetailVM>

@{
    ViewData["Title"] = "FinishShopping";
    string transactionTime = Model.FirstOrDefault().DateOfTransaction.ToString("dd/MMM/yyyy hh:mm");
    string amount = Model.FirstOrDefault().TotalPrice.ToString("C");
}

<h1>Thank you for your purchase</h1>
<br />
<h3>Time of Purchase @transactionTime</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Title            
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @((item.Price * item.Quantity).ToString("c"))
            </td>
        </tr>
        }
    </tbody>
</table>
<p>Total Items: @Model.Sum(i => i.Quantity)</p>
<p>Subtotal: @((Model.First().TotalPrice/1.12m).ToString("c"))</p>
<p>Tax: @((Model.First().TotalPrice / 1.12m * 0.12m).ToString("c"))</p>
<p>Total: @Model.First().TotalPrice.ToString("c")</p>

@Html.ActionLink("Continue Shopping", "Index", "Home")
