
@model IEnumerable<ThriftBook_phase2.ViewModels.CartVM>


@{
    ViewData["Title"] = "Index";
}

<h1>Your cart</h1>
@if (@ViewBag.TotalItems > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th style="display: none;">
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Book Photo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td asp-for="@item.BookId" style="display: none;">
                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.BookPhoto)" alt="Book-Image" class="book-img" />
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("-", "DecreaseOne", new { cartId = @item.CartItemId })
                        @Html.DisplayFor(modelItem => item.Quantity)/@Html.DisplayFor(modelItem => item.TotalQuantity)
                        @Html.ActionLink("+", "IncreaseOne", new { cartId = @item.CartItemId })
                    </td>
                    <td>
                        @((item.Price * item.Quantity).ToString("c"))
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { cartId = @item.CartItemId })|
                        @Html.ActionLink("Remove", "Delete", new { cartId = @item.CartItemId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total Items: @ViewBag.TotalItems </p>
    <p>Subtotal: $@ViewBag.SubTotal</p>
    <p>Tax: $@ViewBag.Tax</p>
    <p>Total: $@ViewBag.Total</p>
    <br />
    <a asp-action="Home" class="add-to-cartbtn btn btn-outline-dark" style="width: 180px;">Continue Shopping</a>
    @Html.ActionLink("Proceed to Checkout", "Checkout", new { totalPayment = ViewBag.Total }, new { @class = "add-to-cartbtn1 btn btn-outline-dark" })

}
else
{
    <p>Cart is Empty.</p>
    <a asp-action="Home" class="add-to-cartbtn btn btn-outline-dark" style="width: 180px;">Continue Shopping</a>
}

