
@model IEnumerable<ThriftBook_phase2.ViewModels.CartVM>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (@ViewBag.TotalItems > 0)
{

    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SessionId)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionId)
                    </td>

                    <td asp-for="@item.BookId">

                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookPhoto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="DecreaseOne" asp-route-id="@item.CartItemId">-</a>
                        @Html.DisplayFor(modelItem => item.Quantity)/@Html.DisplayFor(modelItem => item.TotalQuantity)
                        <a asp-action="IncreaseOne" asp-route-id="@item.CartItemId">+</a>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CartItemId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CartItemId">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>Total Items: @ViewBag.TotalItems </p>
    <p>Subtotal: $@ViewBag.SubTotal</p>
    <p>Tax: $@ViewBag.Tax</p>
    <p>Total: $@ViewBag.Total</p>

    @*@Html.ActionLink("Checkout Test ", "CheckoutTest")*@
    <br />
    @Html.ActionLink("Continue Shopping", "Home")


    @*@Html.ActionLink("Proceed to Checkout", "Checkout", new { TotalPrice = ViewBag.Total, SessionId = Model.ToList().FirstOrDefault().SessionId })*@
    @Html.ActionLink("Proceed to Checkout", "Checkout", new { totalPayment = ViewBag.Total})

    <br />
    @*@Html.ActionLink("Transaction", "CreateTransaction")*@

}
else
{
    <p>Cart is Empty.</p>
    @Html.ActionLink("Continue Shopping", "Home")
}

@*@Html.ActionLink("AddToCart2", "AddToCart", new { id = 2 })*@