@model IEnumerable<ThriftBook_phase2.ViewModels.BookRatingVM>

@{
    ViewData["Title"] = "GetAllBookRatings";
}

<h1 class="ratings">All ratings</h1>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>               
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    "@Html.DisplayFor(modelItem => item.Comments)" -  @Html.DisplayFor(modelItem => item.FirstName)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="add-to-cartbtn" style="width:170px;">
    @Html.ActionLink("Continue Shopping", "Index", "Home")
</div>
