@model IEnumerable<ThriftBook_phase2.ViewModels.BookRatingVM>

@{
    ViewData["Title"] = "GetAllBookRatings";
}

<h1 class="ratings">All ratings</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    "@Html.DisplayFor(modelItem => item.Comments)" -  @Html.DisplayFor(modelItem => item.FirstName)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<a asp-action="Index" class="add-to-cartbtn btn btn-outline-dark" style="width: 180px;">Continue Shopping</a>

