@model IEnumerable<ThriftBook_phase2.Models.Book>

@{
    ViewData["Title"] = "ViewBooks";
}

<div class="text-center">
    <h1 class="available-books">Available Books</h1>
    <p>@ViewBag.NoBooksMessage</p>
    <table class="table">        
        <p class="text-center">            
                @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSortParam }, new {@class ="items"})                      
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam }, new { @class = "items" })           
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam }, new { @class = "items" })            
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <a asp-action="Create" class="create-book">Create New</a>
            }
        </p>
        <div class="cards-container">
            @foreach (var item in Model)
            {

                <div class="card bg-light mb-3" style="width: 18rem;">
                    <img src="@Html.DisplayFor(modelItem => item.BookPhoto)" alt="Book-Image" class="book-img" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.BookQuantity) in stock</p>
                        <p class="card-text">$@Html.DisplayFor(modelItem => item.Price)</p>
                        <p class="card-text">
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { BookID = item.BookId }) <span>|</span>
                                @Html.ActionLink("Add To Cart", "Details", new { BookID = item.BookId }) <span>|</span>
                                <a asp-action="Delete" asp-route-id="@item.BookId"> Delete </a>
                            }
                            else
                            {                                
                                    @Html.ActionLink("Details", "Details", new { BookID = item.BookId }, new { @class = "add-to-cartbtn btn btn-outline-dark" })                               
                            }
                        </p>
                    </div>
                </div>
            }
        </div>
    </table>
</div>
