@model IEnumerable<ThriftBook_phase2.Models.Book>

@{
    ViewData["Title"] = "ViewBooks";
}

<div class="text-center">
    <h1>Available Books</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Quality
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Photo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Store Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gennre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookQuality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookQuantity)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.BookPhoto)" alt="Book-Image" />
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                        @Html.ActionLink("Add To Cart", "Details", new { BookID = item.BookId }) |
                        <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
