@model IEnumerable<rolesDemoSSD.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (@ViewBag.Message == "")
{
    <p>Orders is Empty.</p>
    @Html.ActionLink("Continue Shopping", "Home")
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfTransaction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfTransaction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile.Email)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}