@model IEnumerable<rolesDemoSSD.Models.Invoice>

@{
    ViewData["Title"] = "Orders History";
}

<h1>Your order history</h1>

@if (@ViewBag.Message != "")
{
    <p>Orders are empty.</p>
    @Html.ActionLink("Continue Shopping", "Home", new { @class = "add-to-cartbtn btn btn-outline-dark" })
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                   Payment ID
                </th>
                <th>
                   Total Price
                </th>
                <th>
                   Transaction Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profile)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentId)
                </td>
                <td>
                    @((item.TotalPrice).ToString("c"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Email)
                </td>
                <td>
                    @Html.ActionLink("Details", "OrderDetail", new { paymentID = @item.PaymentId }, new { @class = "add-to-cartbtn btn btn-outline-dark" })
                </td>
            </tr>
            }
        </tbody>
    </table>
}