@model IEnumerable<ThriftBook_phase2.ViewModels.OrderDetailVM>

@{
    ViewData["Title"] = "OrderDetail";
}

<h1>Order Detail</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Transaction Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTransaction)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @((item.Price * item.Quantity).ToString("c"))
            </td>
            @{
                Dictionary<int, bool> bookIds = (Dictionary<int, bool>)ViewBag.Message;

                var isFinded = bookIds.ToList().Where(x => x.Key == @item.BookId).FirstOrDefault();
                if (isFinded.Key == 0)
                {

                        @Html.ActionLink("Rate the Book", "CreateRating", new { bookId = @item.BookId }, new { @class = "add-to-cartbtn btn btn-outline-dark" })

                }
            }
        </tr>
                }
    </tbody>
</table>
<p>Total Items: @Model.Sum(i => i.Quantity)</p>
<p>Subtotal: @((Model.First().TotalPrice / 1.12m).ToString("c"))</p>
<p>Tax: @((Model.First().TotalPrice / 1.12m * 0.12m).ToString("c"))</p>
<p>Total: @Model.First().TotalPrice.ToString("c")</p>

    @Html.ActionLink("Back to Order", "Index", "OrdersHistory", new { @class = "add-to-cartbtn btn btn-outline-dark" })
    <a asp-action="Index" class="add-to-cartbtn btn btn-outline-dark" style="width: 180px;">Continue Shopping</a>
