@model IEnumerable<ThriftBook_phase2.ViewModels.InvoiceDetailVM>

@{ ViewData["Title"] = "Details"; /* BuyerList Section */ }

<h1 class="buyerlist-detail-title">Invoice Details</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BuyerId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfTransaction)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BookId)
    </td>
</tr>}
        <div class="text-left">
            <form method="post" asp-controller="BuyerList" asp-action="ExportToCSVDetails">
                <input type="text" id="transactionID" name="paymentid" hidden value="@Model.FirstOrDefault().PaymentId" />
                <input type="submit" value="Export to CSV" />
            </form>
        </div>
    </tbody>
    <tfoot>
        <tr>
            <td border="1">
                Total Sales:
            </td>
            <td> $@ViewBag.TotalAmount </td>
        </tr>
    </tfoot>
</table>
