@model IEnumerable<ThriftBook_phase2.ViewModels.InvoiceVM>

@{
    ViewData["Title"] = "All Invoices";
}

<h1>All Invoices</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>              
                @Html.ActionLink("Details", "Details", new { paymentID = item.PaymentId })               
            </td>
        </tr>
        }
        <div class="text-left">
            <form method="post" asp-controller="BuyerList" asp-action="ExportToCSV">
                <input type="submit" value="Export to CSV" />               
            </form>
        </div>
    </tbody>
    <tfoot>
        <tr>
            <td border="1">
                Total Sales:
            </td>
            <td> $@ViewBag.TotalAmount </td>

        </tr>

    </tfoot>
</table>
